<!DOCTYPE html>
<html>

<head>
  <title>Lisää resepti</title>
</head>

<body>
  <h1>Lisää resepti</h1>
  <form action="/create_recipe" method="post">
    <p>
      Reseptin nimi: <br />
      <input type="text" name="name" maxlength="60" required />
    </p>
    <p>
      Ainekset: <br />
      <textarea name="ingredients" rows="8" cols="60" maxlength="1000" required></textarea>
    </p>
    <p>
      Ohje: <br />
      <textarea name="instruction" rows="8" cols="60" maxlength="1000" required></textarea>
    </p>
    {% for class in classes %}
    <p>
      {{ class }}: <br />
      <select name="classes">
        <option value=""></option>
      {% for option in classes[class] %}
        <option value="{{ class }}:{{ option }}">{{ option }}</option>
      {% endfor %}
      </select>
    </p>
    {% endfor %}
    <input type="submit" value="Luo resepti" />
  </form>
</body>

</html>
