{% extends "layout.html" %}

{% block title %}Muokkaa reseptiä{% endblock %}

{% block content %}
<h2>{{ recipe.name }}</h2>
<h3>Muokkaa reseptiä</h3>
<form action="/update_recipe" method="post">
  <p>
    Reseptin nimi: <br />
    <input type="text" name="name" value="{{ recipe.name }}" maxlength="60" required/>
  </p>
  <p>
    Ainekset: <br />
    <textarea name="ingredients" rows="8" cols="60" maxlength="1000" required>{{ recipe.ingredients }}</textarea>
  </p>
  <p>
    Ohje: <br />
    <textarea name="instruction" rows="8" cols="60" maxlength="1000" required>{{ recipe.instruction }}</textarea>
  </p>
  <input type="hidden" name="recipe_id" value="{{ recipe.id }}" />
  {% for class in classes %}
  <p>
    {{ class }}: <br />
    <select name="classes">
      <option value=""></option>
    {% for option in classes[class] %}
      {% if selected[class] == option %}
      <option value="{{ class }}:{{ option }}" selected>{{ option }}</option>
      {% else %}
      <option value="{{ class }}:{{ option }}">{{ option }}</option>
      {% endif %}
    {% endfor %}
    </select>
  </p>
  {% endfor %}
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" value="Päivitä resepti" />
  <input type="submit" name="back" value="Peruuta">
</form>
{% endblock %}
