<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <h1>Reseptit</h1>

  {% if session.user_id %}
  <p>
    Olet kirjautunut nimellä {{ session.username }}
  </p>
  {% endif %}

  <p>
    <a href="/">Etusivu</a> -
  {% if not session.username %}
    <a href="/login">Kirjaudu sisään</a> -
    <a href="/register">Luo tunnus</a>
  {% else %}
    <a href="/logout">Kirjaudu ulos</a>
  {% endif %}
  </p>
  <p>
  {% if session.username %}
    <a href="/add_recipe">Lisää resepti</a> -
  {% endif %}
    <a href="/search_recipes">Hae reseptejä</a>
  </p>

  {% block content %}{% endblock %}
</body>

</html>
