<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/main.css">
  <link rel="icon" type="image/x-icon" href="/static/icons8-cooking-32.png">
</head>

<body>
  <h1>Reseptit</h1>

  {% if session.user_id %}
  <p>
    Olet kirjautunut nimellä <a href="/user/{{ session.user_id }}">{{ session.username }}</a>
  </p>
  {% endif %}

  <p>
    <a href="/">Etusivu</a> -
  {% if not session.username %}
    <a href="/login">Kirjaudu sisään</a> -
    <a href="/register">Luo käyttäjätunnus</a>
  {% else %}
    <a href="/logout">Kirjaudu ulos</a>
  {% endif %}
  </p>
  <p>
  {% if session.username %}
    <a href="/add_recipe">Lisää resepti</a> -
  {% endif %}
    <a href="/search_recipes">Hae reseptejä</a>
  </p>

  {% for message in get_flashed_messages() %}
  <div class="info">
    {{ message }}
  </div>
  {% endfor %}

  {% block content %}{% endblock %}
</body>

</html>
